@media screen and (max-width: 1223px) {
    #leader-div {
        width: 50vw;
        height: 40vh;
        position: absolute;
        top: 20vh;
        left: 0;
    }

    #padded-div {
        padding-top: 3vh;
    }
}

@media screen and (min-width: 1224px) {
    #leader-div {
        width: 30vw;
        height: 60vh;
        position: absolute;
        top: 15vh;
        left: 15vw;
    }

    #padded-div {
        padding-top: 6vh;
    }
}

#leader-div {
    background-color: whitesmoke;
    box-shadow: 0 0 10px #000000;
}

#padded-div {
    width: 100%;
    height: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: center;
}

#leader-table {
    width: 100%;
    height: 50%;

}

#player-div {
    padding-top: 15%;
}

th, table, td {
    text-align: center;
}

th {
    padding-bottom: 5%;
}

.leader-head {
    font-weight: 700;
}
